*{
    font-family: 'Lexend', sans-serif;
}
p,a,span,strong,b{
    font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;  
    font-weight: 400;
    font-style: italic;
}

.f-heading{
    font-family: 'DM Serif Display', serif !important;  
}
.f-body{
    font-family: 'Lexend', sans-serif !important;
}
.text-500{
    font-weight: 500;
}

.text-300{
    font-weight: 300;
}

.text-400{
    font-weight: 400;
}
.text-gray{
    color: $text-gray !important;
}


h1{
    font-size: 6rem;
    line-height: 1;
    @include res(sm){
        font-size: 7.5rem;
        
    }
}

h2{
    font-size:6rem;
    line-height: 8rem;
}

h3{
    font-size: 4.4rem;
    line-height: 6rem;
}

h4{
    font-size: 3.6rem;
    line-height: 3.2rem;
}

h5{
    font-size: 2.5rem;
    line-height: 2rem;
}
span{
    font-size: inherit;
}
.text{
    &-gr{
        display: inline-block;
       
text-shadow: 20px 24px 10px rgba(0, 0, 0, 0.03);
        &-primary{
            background: linear-gradient(63deg, rgba(62, 205, 250, 1) 24.56%, rgba(82, 250, 129, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        &-secondary{
            background: linear-gradient(63deg, rgb(119, 71, 255) 0%, rgb(85, 57, 163) 99.57%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        &-tertiary{
            background:linear-gradient(99.65deg, #FF5845 3.57%, #F028F8 105.01%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
   
    &-body{
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.5;
    }
    &-heading{
        font-weight: 700;
        font-size: 6rem;
}
    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
}

.section-heading{
    margin-bottom: 4rem;
}
//animate heading wrapper
// .heading-wrapper{
//     .heading-animate-part{
//         opacity: 0;
//         transform: translateY(2rem);
//         transition:all 0.5s $cb-primary;
//         &:nth-child(2){
//             transition-delay: 0.3s;
//         }
//     }

//     &.visible .heading-animate-part{
//         opacity: 1;
//         transform: translateY(0);
//     }
// }


