.features{
    &-section{
       position: relative;
      
    }
    &-menu{
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style: none;
    }
    &-link{
        font-family: 'DM Serif Display', serif;
        color: $medium-gray;
        font-size: 2.4rem;
        line-height: 1;
        font-style: italic;
        margin-bottom: 0;
        transition: $transition-primary;
        transition-duration: 0.7s;
        transform-origin: left top;
        transform: translateY(20%);
        &.active{
            font-size: 12rem;
            transform: translateY(0);
        }

    }

    &-circle-bg{
     @include circle(60rem);
        @include absolute-center;
        z-index: -1;
        background-color: rgba($light-gray,0.1);
    }
    &-body{
        margin: 5rem 0 8rem;
        position: relative;
        &-section{
                min-height: 100vh;
        }

        &-menu{
                width: 20rem;
        }


        &-content{
            text-align: center;
            > div{
                //background-color: rgba(255, 250, 205, 0.395);
                margin: 1rem 0;
            }
            .feature-content{   
                opacity: 0;
                
                padding: 2rem 0 6rem;
               @include flex-center;
               flex-direction: column;
               

                p{
                    transition: all 0.6s $cb-secondary;
                    &:nth-child(2){
                        transition-delay: 0.35s;
                    }
                }
            }
            .text-heading{
                font-size: 4rem;
            }
        }
    }
}

