.features{
    &-section{
       position: relative;
      
    }
    &-menu{
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-left: 0;
        list-style: none;
        min-height: 10rem;
        border-bottom: 1px solid $primary-color-light;
        @include res(xs){
            justify-content: center;
            gap: 0;
        }
    }
    &-link{
        p{
            font-family: 'DM Serif Display', serif;
            background: linear-gradient(268.31deg, #7747FF 0%, #5539A3 99.57%)        ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 2.4rem;
            font-style: italic;
            margin-bottom: 0;
            transition: $transition-primary;
            transition-duration: 0.7s;
            transform-origin: left top;
        }
        opacity: 0.45;
        @include res(xs){
            visibility: hidden;
            width: 0;
        }
        &.active{
            opacity: 1;
            p{
                font-size: 3rem;
                font-weight: 700;
                transform: translateY(-5%);
                @include res(xs){
                    font-size: 9rem;
                }
            }

            @include res(xs){
                visibility: visible;
                width: auto
            }
        }

    }

    &-circle-bg{
     @include circle(60rem);
        @include absolute-center;
        z-index: -1;
        background-color: rgba($light-gray,0.1);
    }
    &-body{
        margin: 5rem 0 8rem;
        position: relative;
        &-section{
                min-height: 100vh;
        }

        &-menu{
                width: 20rem;
        }


        &-content{
            text-align: center;
            > div{
                //background-color: rgba(255, 250, 205, 0.395);
                margin: 1rem 0;
            }
            .feature-content{   
                opacity: 0;
                
                padding: 2rem 0 6rem;
               @include flex-center;
               flex-direction: column;
               

                p{
                    transition: all 0.6s $cb-secondary;
                    &:nth-child(2){
                        transition-delay: 0.35s;
                    }
                }
            }
            .text-heading{
                font-size: 4.8rem;
                letter-spacing: -0.1rem;
            }

            .text-body{
                letter-spacing: -0.04rem;
                font-size: 2.4rem;
            }

        }
    }
}

