.footer{
    padding: 3.2rem 0;
    background-color: $color-dark;
    border-top:1px solid rgba($color-white,0.1);
    

    p{
        margin-bottom: 0;
    }
    &-body{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include res(sm){
            flex-direction: column;
        }
    }
    &-contact{
        align-items: center;
        display: flex;
        gap: 5rem;
        color: $color-white;
        font-weight: 400;

        span{
            font-weight: 200;
        }

        @include res(sm){
           justify-content: space-between;
           width: 100%;
        }
    }

    &-copy{
        font-weight: 200;
        color: $color-white;
        @include res(sm){
            margin-top: 1.6rem;
        }
    }
    

    .social-icons{
        display: flex;
        gap: 2rem;

        p{
            gap: 1.2rem;
            svg{
                @include square(2.4rem);
            }
        }
        
    }
}