.why-to-invest{
    .why{
        &-heading{
            &-1{
                font-size: 7.2rem;
                color:$color-black;
                letter-spacing: -0.2rem;
            }
            &-2{
                font-size: 16rem;
                margin-top: -3.2rem;
                text-align: center;
                color: $medium-gray;
                font-style: italic;
                letter-spacing: -0.3rem;
            }
        }

        &-content{
            text-align: center;
            padding: 12rem 0 6rem;

            &-subtext{
                font-size: 3.2rem;
                font-weight: 300;
                color: rgba(#1A1A1A,0.6);
            }
            &-text{
                display: flex;
                justify-content: center;
                //align-items: center;
                gap: 1rem;
                position: relative;
                font-size: 7.2rem;
                font-weight: 200;
                letter-spacing: -0.4rem;
                color: rgba(#1A1A1A,0.6);
            }

            &-scrolltext{
                position: relative;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
               margin-left: 0.5rem;
               width: 17rem;
                span{
                    opacity: 0;
                    transform: translateY(40px);
                    position: absolute;
                    font-style: italic;
                    font-size: 7.2rem;
                    color: $color-black;
                    letter-spacing: -0.1rem;

                    // &.visible{
                    //     display: block;
                    // }
                }
            }
        }
    }
}
