.why-to-invest{
    background-color: $color-darker;
    border-top:1px solid rgba($color-white,0.1);
    min-height: 85vh;
    display: flex;
    align-items: center;

    .why{
        &-heading{
            max-width: 90rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            &-1{
                font-size: 7.2rem;
                color:$color-white;
                letter-spacing: -0.2rem;
            }
            &-2{
                width: 100%;
                max-width: 50vw;
               align-self: flex-end;
                margin-top: -3.2rem;

                @include res(sm){
                    margin-top: 0;

                    max-width: 40rem;
                }
            }
        }

        &-content{
            text-align: center;
            padding: 8rem 0 6rem;

            &-subtext{
                font-size: 3.2rem;
                font-weight: 300;
                color: $color-white;
            }
            &-text{
                display: flex;
                justify-content: center;
                //align-items: center;
                gap: 1rem;
                position: relative;
                font-size: 7.2rem;
                font-weight: 200;
                letter-spacing: -0.4rem;
                color: rgba($color-white,0.6);
            }

            &-scrolltext{
                position: relative;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
               margin-left: 0.5rem;
               width: 17rem;
                span{
                    opacity: 0;
                    transform: translateY(40px);
                    position: absolute;
                    font-style: italic;
                    font-size: 7.2rem;
                    color: $color-black;
                    letter-spacing: -0.1rem;

                    // &.visible{
                    //     display: block;
                    // }
                }
            }
        }
    }
}
