.btn-light{
    display: inline-block;
    position: relative;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-black;
    text-align: center;
    padding: 1.5rem 2.4rem;
    background: $color-gr-primary;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    transition-duration: 100ms;
    z-index: 100;
    cursor: pointer;
    &:hover{
        transform: translateY(-1px);
    }
    &:active{
        transform: translateY(0);
        
    }
}