.form-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1.2px solid rgb(233, 233, 233);
  border-radius: 10rem;
  padding: 0.4rem;/* will have no effect */

}

.form-input {
    font-family: 'Rubik', serif;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 2rem;
    font-weight: 300;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    border-radius: 1rem;
    transition: $transition-secondary;
    outline: none;
    &:focus{
        border-color: $color-primary;
    }

    &::placeholder{
        color: $text-gray;
        font-size: 1.6rem;
        font-family: 'Rubik', serif;
    }
}

.submit{
    color: $color-black;
}