.form-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-input {
    font-family: 'Rubik', serif;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 1.2rem;
    font-weight: 300;
    font-size: 1.6rem;
    background: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 1rem;
    transition: $transition-secondary;
    outline: none;
    &:focus{
        border-color: $color-primary;
    }

    &::placeholder{
        color: $text-gray;
        font-size: 1.6rem;
        font-family: 'Rubik', serif;
    }
}

.submit{
    color: $color-black;
}