$color-reddit:#FF4500;
$color-twitter:#55ACEE;
$color-telegram:#29A9EB;
$color-discord:#5865F2;


.link-card{
    padding: 2.4rem;
    margin: 0 1.6rem;
    display: flex;
    z-index: 4;
    position: relative;
    flex-direction: column;
    border: 2px solid transparent;
    box-sizing:border-box;
    background-color: $color-white;
    backdrop-filter: blur(10px);
    @include res(lg){
        margin-bottom: 3rem;
    }
    //box-shadow: 3px 10px 19px 4px #0000009c;

    &-text{
        display: flex;
        color: $color-light;
        align-items: center;
        gap: 2rem;
        margin-bottom: 4rem;
        img{
            @include square(4.2rem);
        }
        p{
            font-size: 2.8rem;
            font-weight: 200;
            margin: 0;
        }
    }


    .redirect-icon{
        @include square(4rem);
        align-self: flex-end;
        font-weight: 200;
    }
    &.reddit-card{
        border-top-right-radius: 6rem;
        background: linear-gradient(71.41deg, rgba(255, 69, 0, 0.3) 0%, rgba(255, 69, 0, 0.03) 100%);
        border-color: darken($color-reddit,0);
        .redirect-icon{
            color: $color-reddit;
        }
    }
    &.twitter-card{
        border-bottom-right-radius: 6rem;
        background: linear-gradient(108.59deg, rgba(85, 172, 238, 0.3) 0%, rgba(85, 172, 238, 0.03) 100%);
        border-color: darken($color-twitter,0);
        .redirect-icon{
            color: $color-twitter;
        }
    }
    &.telegram-card{
        border-bottom-left-radius: 6rem;
        background: linear-gradient(287.95deg, rgba(39, 165, 228, 0.3) -2.9%, rgba(39, 165, 228, 0.03) 100%);
        border-color: darken($color-telegram,0);
        .redirect-icon{
            color: $color-telegram;
        }
        @include res(sm){
            border-top-left-radius: 6rem;
            border-bottom-left-radius:0;
        }
    }
    &.discord-card{
        border-top-left-radius: 6rem;
        background: linear-gradient(251.41deg, rgba(88, 101, 242, 0.3) 0%, rgba(88, 101, 242, 0.03) 100%);
        border-color: darken($color-discord,0%);
        .redirect-icon{
            color: $color-discord;
        }
        @include res(sm){
            border-bottom-left-radius: 6rem;
            border-top-left-radius:0;
        }
    }

    
}

.links-section{
        background-color: $color-dark;
    position: relative;
    overflow: hidden;
        .wave-img{
            position: absolute;
            left: 50%;
            top: 30%;
            width: 110%;
            transform: translateX(-50%);
            opacity: 0.6;

            @include res(sm){
                object-fit: cover;
                object-position: bottom;
                height: 100%;
            }
        }
}
