:root{
    --marquee-width: 100vw;
    --marquee-height: 12vh;
    --marquee-elements: 5;
    --marquee--elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width)/var(--marquee--elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements)*1s);
}

.marquee{
    width: var(--marquee-width);
    //height: var(--marquee-height);
    padding: 3rem 0;
    background: linear-gradient(99.65deg, #3ECDFA 3.57%, #52FA81 105.01%);
    transform: rotate(-1.58deg) translateY(-30%);
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.marquee span {
    display: inline-block;
    color: $color-white;
    left: 100%;
    position: relative;
    font-size: 3.6rem;
    font-weight: 300;
    white-space: nowrap;
    animation: scrolling 10s linear infinite;

    svg{
        fill: $color-white;
        @include square(3.5rem)
    }

    &:nth-child(1) {
        animation-delay: 0s;
    }
    &:nth-child(2) {
        animation-delay: 1s;
    }
    &:nth-child(3) {
        animation-delay: 2s;
    }
    &:nth-child(4) {
        animation-delay: 3s;
    }
    &:nth-child(5) {
        animation-delay: 4s;
    }
    &:nth-child(6) {
        animation-delay: 5s;
    }
    
}

@keyframes scrolling{
    0%   { left: 100%; }
    100% { left: -200%; }
}

@media (max-width: 400px) {
    :root{
        --marquee-width: 100vw;
        --marquee-height: 12vh;
        --marquee-elements-displayed: 3;
    }
    }